---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
//@ts-ignore
import { parseISO, format } from "date-fns";

export async function getStaticPaths() {
  const entries = await getCollection("posts");
  return entries.map((entry) => ({
    params: { post: entry.slug },
    props: { entry },
  }));
}

const { entry }: any = Astro.props,
  { Content } = await entry.render();
---

<Layout>
  <section id="post" class="-m-2 flex flex-col h-full">
    <!-- <header class="flex justify-between w-full gap-2 items-start">
      <span class="w-full">
        <h1 class="text-xl justify-self-center">
          {
            typeof entry.data.icon !== "undefined" ? (
              entry.data.icon.startsWith("fa-") ? (
                <i class={`fa-duotone ${entry.data.icon}`} />
              ) : (
                entry.data.icon
              )
            ) : (
              ""
            )
          }
          {entry.data.title}
        </h1>
      </span>
      <span class="bg-green text-base p-1 rounded-lg">
        {format(parseISO(entry.data.date), "dd MMM, yyy")}
      </span>
    </header> -->

    <header
      class="flex justify-between w-full gap-2 items-start toplace bg-crust"
    >
      <h1 class="text-xl w-full p-4">
        {
          typeof entry.data.icon !== "undefined" ? (
            entry.data.icon.startsWith("fa-") ? (
              <i class={`fa-duotone ${entry.data.icon}`} />
            ) : (
              entry.data.icon
            )
          ) : (
            ""
          )
        }
        {entry.data.title}
      </h1>
      <h1 class="text-lg w-1/3 h-full flex justify-center items-center">
        {format(parseISO(entry.data.date), "dd MMM, yyy")}
      </h1>
    </header>

    <mkd
      class="p-4 flex justify-center flex-col items-center gap-1
      [&_img]:m-2 [&_img]:h-64 [&_img]:rounded-lg [&_img]:border [&_img]:border-green
      [&_p]:flex-col [&_p]:flex [&_p]:items-center [&_p]:justify-center"
    >
      <Content />
    </mkd>

    <section class="w-full flex-col flex p-4">
      <script
    src="https://giscus.app/client.js"
    data-repo="GiikiS2/GiikisLair-discuss"
    data-repo-id="R_kgDOMZB8vQ"
    data-category="General"
    data-category-id="DIC_kwDOMZB8vc4ChCvH"
    data-mapping="title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="dark_tritanopia"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
    </section>
  </section>
  
  <!--  -->
</Layout>
