:root{
    --icocolordf: #fff;
}

@font-face {
    font-family: 'icomoon';
    src:  url('https://i.icomoon.io/public/temp/3db8911df5/yay/icomoon.eot?jhm2us');
    src:  url('https://i.icomoon.io/public/temp/3db8911df5/yay/icomoon.eot?jhm2us#iefix') format('embedded-opentype'),
      url('https://i.icomoon.io/public/temp/3db8911df5/yay/icomoon.ttf?jhm2us') format('truetype'),
      url('https://i.icomoon.io/public/temp/3db8911df5/yay/icomoon.woff?jhm2us') format('woff'),
      url('https://i.icomoon.io/public/temp/3db8911df5/yay/icomoon.svg?jhm2us#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


.icon-glsl .path1:before {
    content: "\e906";
    color: var(--icocolordf);
  }
  .icon-glsl .path2:before {
    content: "\e907";
    color: var(--icocolordf);
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
    margin-left: -1.365234375em;
  }

  .icon-cs .path1:before {
    content: "\e900";
    color: var(--icocolordf);
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
  }
  .icon-cs .path2:before {
    content: "\e901";
    color: var(--icocolordf);
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
    margin-left: -1em;
  }
  .icon-cs .path3:before {
    content: "\e902";
    color: var(--icocolordf);
    margin-left: -1em;
  }
  .icon-cs .path4:before {
    content: "\e903";
    color: var(--icocolordf);
    margin-left: -1em;
  }
  .icon-cs .path5:before {
    content: "\e904";
    color: var(--icocolordf);
    margin-left: -1em;
  }
  .icon-cs .path6:before {
    content: "\e905";
    color: var(--icocolordf);
    margin-left: -1em;
  }

  .icon-neocities .path1:before {
    content: "\e908";
    color: var(--icocolordf);
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
  }
  .icon-neocities .path2:before {
    content: "\e909";
    color: var(--icocolordf);
    margin-left: -1.1396484375em;
  }