@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/* @import url(https://db.onlinewebfonts.com/c/2afe16b4e1a977f13d988de8a968ae7c?family=Starborn); */

@font-face {
  font-family: 'Starborn';
  src: url('/webfonts/2afe16b4e1a977f13d988de8a968ae7c.eot');
  src: url('/webfonts/2afe16b4e1a977f13d988de8a968ae7c.eot?#iefix')
      format('embedded-opentype'),
    /* url("/webfonts/2afe16b4e1a977f13d988de8a968ae7c.woff")format("woff"), */
      url('/webfonts/2afe16b4e1a977f13d988de8a968ae7c.woff2') format('woff2'),
    url('/webfonts/2afe16b4e1a977f13d988de8a968ae7c.ttf') format('truetype'),
    /* url("/webfonts/2afe16b4e1a977f13d988de8a968ae7c.svg#Starborn")format("svg")*/;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-display: block;
  font-family: 'SerenityOS Emoji';
  font-style: normal;
  src: local('SerenityOS Emoji'), url('/assets/SerenityOS-Emoji.ttf');
  unicode-range: U+00A9, U+00AE, U+203C, U+2049, U+20E3, U+2122, U+2139,
    U+2194-2199, U+21A9-21AA, U+231A-231B, U+2328, U+2388, U+23CF, U+23E9-23F3,
    U+23F8-23FA, U+24C2, U+25AA-25AB, U+25B6, U+25C0, U+25FB-25FE, U+2600-27EF,
    U+2934-2935, U+2B00-2BFF, U+3030, U+303D, U+3297, U+3299, U+1F000-1F64F,
    U+1F680-1F6FF, U+1F774-1F77F, U+1F7D5-1F7FF, U+1F80C-1F80F, U+1F848-1F84F,
    U+1F85A-1F85F, U+1F888-1F88F, U+1F8AE-1F8FF, U+1F90C-1FAFF;
}

.emoji {
  font-family: 'SerenityOS Emoji';
}

.moon-after::after {
  content: ' 🌙';
  font-family: 'SerenityOS Emoji';
}

.straw-after::after {
  content: ' 🍓';
  font-family: 'SerenityOS Emoji';
}

.ghost-after::after {
  content: ' 👻';
  font-family: 'SerenityOS Emoji';
}

.flower-after::after {
  content: ' 💐';
  font-family: 'SerenityOS Emoji';
}

* {
  transition: 0.2s;
}

.starborn {
  font-family: Starborn;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -500px 0px;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;

  font-weight: normal;
}

.btn {
  font-family: 'Questrial', sans-serif;
  background-image: url('/assets/btn.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  button:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}

particle {
  z-index: 51;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.pfp {
  mask-image: url('/assets/pfpbubbles.png');
  mask-size: contain;
  filter: drop-shadow(5px 0 0 white) drop-shadow(0 5px 0 white)
    drop-shadow(-5px 0 0 white) drop-shadow(0 -5px 0 white);
}

.str-1 {
  -webkit-box-shadow: 0px 0px 0px 15px #000000;
  box-shadow: 0px 0px 0px 15px #000000;
}

body {
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Lexend', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /*font-family: "Questrial", sans-serif;*/
  /* background-image: url("/assets/site_bg.png"); */
  background-position: 0 0;
  animation: slide 6s infinite linear;
  height: 100% !important;
  width: 100% !important;
}

.bg {
  transition: color 0.5s, background-color 0.5s;
  background-image: url('/assets/site_bg.png');
  background-position: 0 0;
  animation: slide 6s infinite linear;

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.h1 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}

*::-webkit-scrollbar {
  width: 4px;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #a6e3a15d;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #a6e3a1a1;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

a:hover {
  color: #a6e3a1;
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}

[data-corvu-accordion-trigger] {
  width: 100%;
  /* border-bottom-width: 1px;
  border-color: hsl(253, 80%, 82%);
  background-color: hsl(249, 87%, 94%); */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  font-weight: 500;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 100ms;
}

/* 
[data-corvu-accordion-trigger]:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: hsl(251, 86%, 89%);
} */

:root{
  --corvu-disclosure-content-width: 10px;
}

[data-corvu-accordion-content] {
  overflow: hidden;

}

[data-corvu-accordion-content][data-collapsed] {
  animation: collapse 200ms linear;
}

[data-corvu-accordion-content][data-expanded] {
  animation: expand 200ms linear;
}

@keyframes expand {
  0% {
    height: 0px;
  }

  100% {
    height: var(--corvu-disclosure-content-height);
  }
}

@keyframes collapse {
  0% {
    height: var(--corvu-disclosure-content-height);
  }

  100% {
    height: 0px;
  }
}

@font-face {
  src: url('https://dl.dropbox.com/s/uyuvyfslqp84yq4/ADELIA.otf');
  font-family: 'adelia';
}

.woah {
  color: white;
  background: -webkit-linear-gradient(#fff, #eebde1, hotpink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.woah::before {
  @apply starborn;
  content: 'Giiki´s Lair';

  position: absolute;
  color: white;

  background: linear-gradient(#1e1e2e, #a6e3a1, #fff 150%);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px transparent;
}

/* .logoalt {
  animation: gelatine 0.5s infinite;
  transition: transform 0.5s ease;
} */

/* .logo:hover {
animation: gelatine 0.5s infinite; 
} 

.logo{
transition: transform 0.5s ease;
} */
/* 
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
} */

.icon {
  transition: transform 0.3s ease;
}

/* Style when accordion is expanded */
[data-corvu-accordion-trigger][data-expanded] .icon {
  transform: rotate(90deg);
  color: white;
}

.bubble {
  position: relative;
  z-index: 100;
  filter: drop-shadow(2px 0 0 #a6e3a1) drop-shadow(0 2px 0 #a6e3a1)
    drop-shadow(-2px 0 0 #a6e3a1) drop-shadow(0 -2px 0 #a6e3a1);
  background-color: #1e1e2e;
}

:root {
  --speechplace: 30;
}

.bubble:before,
.bubble:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

.thought:before,
.thought:after {
  right: 5px;

  bottom: -22px;
  width: 30px;
  height: 30px;

  background-color: #1e1e2e;

  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
}

.thought:before {
  /* border-radius: 0px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px; 
  transform: perspective(40px) rotateX(-55deg) scale3d(1, 1.2, 1) !important;
  bottom: -27px;
  right: 4px; */

  border-radius: 28px;
  z-index: -1;
  /* border-radius: 10px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;  */

  bottom: -15px;
  right: -1px;
}

.thought:after {
  width: 11px;
  height: 11px;

  right: 23px;

  bottom: -31px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}

.orange {
  border-width: 8px;
  border-style: solid;
  border-image: url('https://dl.dropbox.com/s/rr5se47u373c2yn/orange%20lace.png')
    8 fill round;
}

:root {
  --green: #a6e3a1;
  /* Verde Catppuccin */
  --yellow: #f9e2af;
  /* Amarelo Catppuccin */
  --blue: #89b4fa;
  /* Azul Catppuccin */
  --white: #f2e9e1;
  /* Branco Catppuccin */
}
/* 
.brbg {
  background: linear-gradient(
    to bottom,
    var(--green) 0%,
    var(--yellow) 33%,
    var(--blue) 66%,
    var(--white) 100%
  );
} */

.toplace {
  -webkit-mask-image: url(/assets/lacetop.png); /* Safari and older browsers */
  mask-image: url(/assets/lacetop.png); /* Standard */
  -webkit-mask-size: contain; /* Safari and older browsers */
  mask-size: contain; /* Standard */
  -webkit-mask-repeat: repeat; /* Safari and older browsers */
  mask-repeat: repeat; /* Standard */
  image-rendering: crisp-edges; /* Ensures sharp rendering of the mask image */
}

.toplace * {
  image-rendering: auto; /* Resets image rendering for child elements */
}

.hoverBorder {
  filter: drop-shadow(1px 0 0 white) drop-shadow(0 1px 0 white)
    drop-shadow(-1px 0 0 white) drop-shadow(0 -1px 0 white);
}
.hoverBorder:hover {
  filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white)
    drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white);
}

