@import url(https://db.onlinewebfonts.com/c/2afe16b4e1a977f13d988de8a968ae7c?family=Starborn); 
@font-face {
    font-display: block;
    font-family: "SerenityOS Emoji";
    font-style: normal;
    src: local("SerenityOS Emoji"), url("SerenityOS-Emoji.ttf");
    unicode-range: U+00A9, U+00AE, U+203C, U+2049, U+20E3, U+2122, U+2139, U+2194-2199, U+21A9-21AA, U+231A-231B, U+2328, U+2388, U+23CF, U+23E9-23F3, U+23F8-23FA, U+24C2, U+25AA-25AB, U+25B6, U+25C0, U+25FB-25FE, U+2600-27EF, U+2934-2935, U+2B00-2BFF, U+3030, U+303D, U+3297, U+3299, U+1F000-1F64F, U+1F680-1F6FF, U+1F774-1F77F, U+1F7D5-1F7FF, U+1F80C-1F80F, U+1F848-1F84F, U+1F85A-1F85F, U+1F888-1F88F, U+1F8AE-1F8FF, U+1F90C-1FAFF;
}

.emoji{
  font-family: "SerenityOS Emoji";
}

.moon-after::after {
  content: " 🌙";
  font-family: "SerenityOS Emoji";
}

.straw-after::after {
  content: " 🍓";
  font-family: "SerenityOS Emoji";
}

.ghost-after::after {
  content: " 👻";
  font-family: "SerenityOS Emoji";
}

.flower-after::after {
  content: " 💐";
  font-family: "SerenityOS Emoji";
}

*{
  transition: 0.2s;
}
.starborn{
  font-family: Starborn;
}

body {
  font-family: "Questrial", sans-serif;
  background-image: url('/site_bg.png');
  background-position: 0 0;
  animation: slide 6s infinite linear;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -500px 0px;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;

  font-weight: normal;
}

.btn {
  font-family: "Questrial", sans-serif;
  background-image: url('/btn.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  padding: 20px;
  padding-top: 15px; 
  padding-bottom: 15px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

particle {
  z-index: 51;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.pfp{
  mask-image: url(/pfpbubbles.png);
  mask-size: contain;
  filter: drop-shadow(5px 0 0 white) 
  drop-shadow(0 5px 0 white)
  drop-shadow(-5px 0 0 white) 
  drop-shadow(0 -5px 0 white);
}

.str-1{
  -webkit-box-shadow: 0px 0px 0px 15px #000000; 
  box-shadow: 0px 0px 0px 15px #000000;
}