---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class=" flex flex-col content-center justify-center">
    <h1 class="h1">404 :(</h1>
    <img src="/kirbysad.png">
  </div>
</Layout>
