---
import { parseISO, format } from "date-fns";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

// function sortDates(
//   d1: { data: { date: string } },
//   d2: { data: { date: string } }
// ) {
//   const date1 = new Date(d1.data.date),
//     date2 = new Date(d2.data.date);
    
//   return date2.getTime() - date1.getTime();
// }

function sortDates(a: any, b: any): number {
  const dateA = parseISO(a.data.date || '1970-01-01T00:00:00.000Z');
  const dateB = parseISO(b.data.date || '1970-01-01T00:00:00.000Z');
  return dateB.getTime() - dateA.getTime();
}

export const posts = await getCollection("posts");
---

<Layout>
  <section id="posts">
    <i class="fa-duotone fa-ice-cream"></i> Giiki´s posts:
    {
      typeof posts === "undefined" ? (
        <div>
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            <i class="fa-duotone fa-face-sad-cry" />
        </div>
      ) : (
        posts.sort().map((post) => (
          <a href={`/blog/${post.slug}`}>
            <article class="p-4 border border-green rounded-lg m-2">
              <header class="flex justify-between w-full gap-2 items-start">
                <p class="text-left text-pink font-semibold text-xl">
                  {typeof post.data.icon !== "undefined" ? (
                    post.data.icon.startsWith("fa-") ? (
                      <i class={`fa-duotone ${post.data.icon}`} />
                    ) : (
                      post.data.icon
                    )
                  ) : (
                    ""
                  )}
                  {post.data.title}
                </p>
                <span class="bg-green text-base p-1 rounded-lg">
                  {format(parseISO(post.data.date), "dd MMM, yy")}
                </span>
              </header>
              <p class="mt-1 text-justify">{post.data.description}</p>
            </article>
          </a>
        ))
      )
    }
  </section>
</Layout>
