---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";

import { topSongs } from "../lib/spotify.ts";
let topsongs = await topSongs();
---

<Layout>
  <section class="">
    <h2>My likes:</h2>
    <h2 class="text-left">Most listened songs on Spotify:</h2>
    <div class="flex justify-around m-2 rounded-lg flex-wrap w-full">
      {
        topsongs.length > 0 ? 
          <p>Sorry, no data. :C</p>
         : 
         (
          topsongs.map((song: any) => {
            return (
              <Card
                title={song.title}
                url={song.songUrl}
                image={song.image}
                desc={song.artist}
              />
            );
          })
        )
      }
    </div>

    <!--  <div class="flex justify-center w-full">
      <img src="https://cyber.dabamos.de/88x31/undercon2.gif" />
    </div>-->
  </section>
</Layout>
