---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
---

<Layout>
  <section class="">
    <h2>My projects:</h2>

    <div class="flex justify-around m-2 rounded-lg items-center">
      {
        [
          {
            n: "OnionSubs",
            desc: "I'm a member of OnionSubs, we're a fansub of cartoons :)",
            img: "/onionsubs.png",
            url: "https://onionsubs.vercel.app/",
          },
          // {
          //   n: "Kitten Box",
          //   desc: "A api to connect all of your profiles",
          //   img: "/kittenbox.png",
          //   url: "https://KittenBox.vercel.app/",
          // },
          {
            n: "Outline Shader",
            desc: "A resource pack that adds some outlines :> inspired by spheya´s shader.",
            img: "outline-shader.webp",
            url: "https://modrinth.com/resourcepack/outline-shader",
          },
        ].map((project) => {
          return (
            <Card
              title={project.n}
              url={project.url}
              image={project.img === "" || null ? "/noimg.png" : "/assets/"+project.img}
              desc={project.desc}
            />
          );
        })
      }
    </div>
  </section>
  <!--  <div class="flex justify-center w-full">
      <img src="https://cyber.dabamos.de/88x31/undercon2.gif" />
    </div>-->
</Layout>
