---
// export const prerender = false;
import Layout from "../layouts/Layout.astro";
import Skillls from "../components/skills.tsx";
---

<Layout><span class="iconify mdi-light--home"></span>
<Skillls client:load></Skillls>
</Layout>
