---
interface Props {
  title: string;
  url?: string;
  desc?: string;
  image: string;
}

const { title, url, image, desc } = Astro.props;
---

<a href={url} class="w-[28%] h-[28%]">
  <div
    data-tippy-content={desc || title}
    class="m-1 p-1 text-lg hover:text-pink border border-transparent hover:border-green rounded-lg
    flex flex-col justify-center items-center
    text-ellipsis overflow-hidden"
  >
    <img class="rounded-lg bg-stone-800 h-full w-full" src={image} />
    <p>
      {title}
    </p>
  </div>
</a>
