---
const f1 = await fetch("https://api.lanyard.rest/v1/users/240269142848962560");
const f2 = await f1.json();
var data = f2.data;
var pfp =
  "https://cdn.discordapp.com/avatars/240269142848962560/" +
  f2.data.discord_user.avatar;

//import fs from "fs";
//var flags = await fs.promises.readdir("./public/assets/flags/", {
//  withFileTypes: true,
//});
//flags = flags.filter((item: any) => !item.name.startsWith("."));
var flags = [
  "Bisexual.png",
  "Non-Binary.png",
  "Progress-Pride.png",
  "Autism.png",
];
---

<div
  class="w-[80%] my-5
  anim disc text-center border border-green rounded-lg overflow-hidden
  flex flex-col justify-center items-center"
  id="discord"
>
  <h1
    class={"pt-2" +
      (data.discord_status == "idle"
        ? "text-yellow moon-after"
        : data.discord_status == "online"
          ? "text-green flower-after"
          : data.discord_status == "dnd"
            ? "text-red straw-after"
            : data.discord_status == "offline"
              ? "text-grey ghost-after"
              : null)}
  >
    Me {data.discord_status}
  </h1>

  <img class="pfp my-1" src={pfp} />

  <div class="flex flex-row gap-x-2 items-center p-2 pt-0">
    {
      flags.map((flag: any) => {
        //got the icons at https://arciniega.one/
        return (
          <img
            data-tippy-content={flag
              .split(".")[0]
              .replace(/-/g, " ")
              //.replace(/([A-Z])/g, " $1")
              //.trim()
            }
            src={`/assets/flags/${flag}`}
            class={
              "border-green border-1 hover:border h-4 w-7 m-[1px] rounded-sm" +
              (flag === "Progress-Pride.png" ? " hidden xl:block" : "")
            }
          />
        );
      })
    }
  </div>
</div>
