---

---

<div id="click-particles" transition:persist></div>
<style is:global>
  .tippy-box[data-theme~="tomato"] {
    @apply bg-surface0;
    @apply text-text;
  }
  .tippy-box[data-theme~="tomato"][data-placement^="top"]
    > .tippy-arrow::before {
    @apply border-t-surface0;
  }
  .tippy-box[data-theme~="tomato"][data-placement^="bottom"]
    > .tippy-arrow::before {
    @apply border-b-surface0;
  }
  .tippy-box[data-theme~="tomato"][data-placement^="left"]
    > .tippy-arrow::before {
    @apply border-l-surface0;
  }
  .tippy-box[data-theme~="tomato"][data-placement^="right"]
    > .tippy-arrow::before {
    @apply border-r-surface0;
  }
</style>

<script>

// if(window.location.href.startsWith("https://giikis2.vercel.app")) window.location.href = "https://giikis2.neocities.org"

// 
  import tippy from "tippy.js";
  import "tippy.js/dist/tippy.css";

  document.addEventListener("astro:page-load", () => {
    tippy("[data-tippy-content]", { theme: "tomato" });
  });
</script>

<script>
  function pop(e: any) {
    for (let i = 0; i < 12; i++) {
      createParticle(e.clientX, e.clientY);
    }
  }

  function createParticle(x: any, y: any) {
    const particle = document.createElement("particle");
    document.getElementById("click-particles")?.appendChild(particle);

    // Calculate a random size from 5px to 25px
    const size =
      Math.floor(Math.random() * 20 + 10) +
      Math.floor(Math.random() * (10 - -3 + 1) + -3);
    particle.style.width = `${size}px`;
    particle.style.height = `${size}px`;

    particle.style.backgroundImage = "url('/assets/star_bounce.gif')";

    // Generate a random x & y destination within a distance of 75px from the mouse
    const destinationX =
      x +
      (Math.random() - 0.6) * 175 +
      Math.floor(Math.random() * (10 - -1 + 1) + -1);
    const destinationY = y + (Math.random() * 2 - 1) * 90;

    // Store the animation in a variable as we will need it later
    const animation = particle.animate(
      [
        {
          transform: `translate(-50%, -50%) translate(${x}px, ${y}px)`,
          opacity: 1,
        },
        {
          transform: `translate(${destinationX}px, ${destinationY}px)`,
          opacity: 0,
        },
      ],
      {
        // Set a random duration from 500 to 1500ms
        duration: Math.random() * 6000 + 500,
        easing: "cubic-bezier(0, .9, .57, 1)",
        // Delay every particle with a random value of 200ms
        delay: Math.random() * 150,
      },
    );

    animation.onfinish = () => {
      particle.remove();
    };
  }
  document.onclick = function (event) {
    pop(event);
  };
</script>
