---
import Lanyard from "./lanyard";
---

<div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
  <Lanyard client:load />

  <div class="flex gap-2 flex-col items-center">
    <div
      class="grid grid-cols-2 gap-2 p-2 rounded-lg border border-green h-fit"
    >
      {
        [
          "Bisexual.png",
          "Non-Binary.png",
          "Progress-Pride.png",
          "Autism.png",
        ].map((flag: any, i) => {
          //got the icons at https://arciniega.one/
          return (
            <img
              data-tippy-content={
                flag.split(".")[0].replace(/-/g, " ")
                //.replace(/([A-Z])/g, " $1")
                //.trim()
              }
              src={`/assets/flags/${flag}`}
              class={
                "border border-green/0 border-1 hover:border-green w-full rounded-md"
              }
            />
          );
        })
      }
    </div>
    <a href="https://www.cutercounter.com/" class="px-1" target="_blank"
      ><img
        src="https://www.cutercounter.com/hits.php?id=hrxpqdac&nd=6&style=80"
        alt="hit counter"
      /></a
    >
  </div>
</div>

<section class="w-full flex flex-col gap-1">
  Cliques:
  <hr />

  <div class="flex flex-wrap justify-center gap-1 m-2">
    <a href="https://cliques.gensoukai.net/dye/" target="_blank"
      ><img
        src="/assets/lowgreen.png"
        title="SUICIDE PARTY: i have green hair"
      /></a
    >
    <a href="https://ac.kuchiki.net/" target="new"
      ><img src="/assets/merry.gif" title="pixel friends | Merry" /></a
    >
  </div>

  WebRings:
  <hr />

  <!-- <div class="flex flex-col border-green border rounded-md my-1">

    <div
      class="flex items-center justify-center gap-2 w-full bg-mantle bg-clip-border p-2 toplace"
    >
      <img src="/assets/brazil.png" class="w-4" />
      <p class="w-full">Brasileiros no Neocities.</p>
    </div>

    <div class="h-full w-full flex flex-col p-2 pt-0">
      <div class="flex h-full justify-around p-2 gap-2">
        <a
          href="https://webri.ng/webring/brsnoneocities/previous?via=https://giikis2.neocities.org/"
          class="w-full h-full hoverBorder"
          target="_blank"
          id="webbr">
          <div
            class="bg-green *:w-full h-full hover:bg-pink bg-contain bg-center bg-no-repeat"
            style="-webkit-mask-image: url(/assets/seta1.png);
    mask-image: url(/assets/seta1.png);
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;">
          </div>
        </a><a
          href="https://webri.ng/webring/brsnoneocities/random"
          class="w-full h-full hoverBorder"
          target="_blank"
          id="webbr"><img src="/assets/randomstar.png" /></a
        ><a
          href="https://webri.ng/webring/brsnoneocities/next?via=https://giikis2.neocities.org/"
          class="w-full h-full hoverBorder"
          target="_blank"
          ><div
            class="bg-green *:w-full h-full hover:bg-pink bg-contain bg-center bg-no-repeat"
            style="  -webkit-mask-image: url(/assets/seta1.png);
    mask-image: url(/assets/seta1.png);
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; 
    transform: scaleX(-1)
    ">
          </div></a
        >
      </div>
  </div>
    </div>
  </div> -->

  <div id='doodlering' class="!text-wrap !w-full">
    <script type="text/javascript" src="https://evehibi.nekoweb.org/doodlering/onionring-variables.js"></script>
    <script type="text/javascript" src="https://evehibi.nekoweb.org/doodlering/onionring-widget.js"></script>
   
    <link rel="stylesheet" href="https://evehibi.nekoweb.org/doodlering/onionring.css">
</div>

  <!-- <div id="bonki-ring">
        <script
          is:inline
          type="text/javascript"
          src="https://bonkiscoolsite.neocities.org/bonkiring/bonkiring-widget.js"
        ></script>
      </div> -->

  <!-- check domain solidjs or mimic if i was the other link -->

  <div id="animalcrossingring" class="!text-wrap !w-full">
    <script
      type="text/javascript"
      src="https://housepen.nekoweb.org/ring/onionring-variables.js"></script>
    <script
      type="text/javascript"
      src="https://housepen.nekoweb.org/ring/onionring-widget.js"></script>
  </div>
</section>
