---
import Lanyard from "../components/lanyard.tsx";
import Particles from "../components/particles.astro";
import { ViewTransitions } from "astro:transitions";
import Title from "../components/title";
import { Icon } from "@iconify-icon/solid";

import { lanyardata } from "../data";
import { useStore } from "@nanostores/solid";
import Skillls from "../components/skills.tsx";
import Cat from "../components/cat";
import Scripts from "../components/scripts.astro";
import Sidel from "../components/sidel.astro";

var width = "w-full sm:w-5/6 lg:w-4/6 z-20";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="icon" href="/assets/furbycon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giiki´s lair</title>
    <meta property="og:title" content="Giiki´s lair" />
    <meta
      property="og:image"
      content={`https://cdn.discordapp.com/avatars/240269142848962560/${useStore(lanyardata)()?.discord_user?.avatar}`}
    />
    <meta name="theme-color" content="#a6e3a1" />
    <meta name="description" content="My space on internet :)" />
    <meta name="author" content="Giiki_s2" />

    <ViewTransitions />

    <link rel="stylesheet" href="/css/daisy.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <link
      rel="stylesheet"
      href="https://housepen.nekoweb.org/ring/onionring.css"
    />
  </head>

  <body class="mocha portrait:overflow-hidden text-text">
    <div transition:persist>
      <div class="bg-[#191a20] bg"></div>
    </div>

    <!-- <div
      class="bg-base bg-opacity-90 fixed hidden portrait:flex z-50 w-full h-full p-4 justify-center place-items-center"
    >
      <div
        class="bg-base rounded-lg p-2 pb-1 lg:p-4 lg:pb-2 border border-green w-full h-1/2"
      >
        Pls turn your screen. this website is made for landscape/16:9 screens
        <img src="/kirbysad.png" />
      </div>
    </div> -->

    <section class="z-9" transition:persist>
      <Particles transition:persist />
    </section>

    <section
      class="items-center flex justify-center w-full h-full min-h-screen place-items-center"
    >
      <div class={"flex flex-col justify-center place-items-center " + width}>
        <buttonhandler
          class={"place-items-center justify-between w-3/4 flex gap-3 "}
        >
          <a href="/" class="w-1/2 md:w-1/3 xl:w-1/5">
            <button
              class="w-full bg-base text-center border border-4 border-b-0 border-green rounded-lg rounded-b-none p-2 hover:text-white"
            >
              <i class="fa-duotone fa-donut"></i> Main</button
            >
          </a>

          <a href="/blog" class="w-1/2 md:w-1/3 xl:w-1/5">
            <button
              class="w-full bg-base text-center border border-b-0 border-s-4 border-green rounded-lg rounded-b-none p-2 hover:text-white"
            >
              <i class="fa-duotone fa-envelope"></i> Blog</button
            >
          </a>
        </buttonhandler>

        <div
          class="bg-base rounded-2xl p-4 border border-green w-full h-full z-10"
        >
          <!-- <Title client:load transition:persist /> -->

          <div class="flex gap-4 pt-0 p-1 h-full">
            <div
              class="w-2/6 border border-green rounded-xl flex-col justify-between content-center text-center hidden sm:flex overflow-auto"
              id="sidel"
              transition:persist
            >
              <div class="border-b border-green p-2">
                <Icon
                  icon="tabler:brand-discord-filled"
                  client:load
                  inline
                  transition:persist
                /> Presence:
              </div>
              <div
                class="h-full w-full flex flex-col p-2 items-center gap-2"
                style="grid-template-rows: masonry;"
              >
              <Sidel></Sidel>
                
                  
              </div>
            </div>

            <div
              class="w-full flex-col flex justify-center h-full overflow-y-auto"
            >
              <div class="w-full p-2">
                <Title client:load transition:persist />
              </div>

              <div
                class="w-full overflow-y-auto h-full text-center p-2 border border-green rounded-lg"
              >
                <slot />
              </div>
              <span
                class="text-sm w-full flex justify-center pt-4"
                transition:persist
              >
                built with ❤️, 😡, Tailwind, SolidJs and Astro. &nbsp; <br />
                <a href="https://gitlab.com/GiikiS2/giikis2">
                  <i class="fa-duotone fa-link"></i> Source.</a
                >
              </span>
            </div>

            <div
              class="w-2/6 text-center border border-green rounded-xl"
              id="sider"
              transition:persist
            >
              <div class="border-b border-green p-2">Buttons:</div>
              <div class="p-2 flex flex-wrap flex-col">
                <div id="Buttons" class="grid grid-cols-1 lg:grid-cols-2 gap-2">
                  {
                    [
                      "house-heart:Me",
                      "kitchen-set:Skills",
                      "heart:Likes",
                      "rectangle-history:Projects",
                    ].map((button) => {
                      return (
                        <a
                          href={
                            button.split(":")[1] === "Me"
                              ? "/"
                              : "/" + button.split(":")[1].toLowerCase()
                          }
                          class="!no-underline"
                        >
                          <button class="aspect-auto duration-300 transition-all overflow-hidden text-wrap w-full flex flex-col text-center border border-green rounded-lg p-2 lg:p-1 xl:p-2  hover:text-white">
                            <i
                              class={`text-pink fa-duotone fa-${
                                button.split(":")[0]
                              }`}
                            />
                            <p class="overflow-hidden text-wrap text-clip">
                              {button.split(":")[1]}
                            </p>
                          </button>
                        </a>
                      );
                    })
                  }
                </div>
                <div class="flex flex-col items-center gap-2 p-2">
                  <iframe
                  class="rounded"
                    src="https://shroom.ink/guard.html/?site=Giiki's lair&shroom=4"
                    height="250px"
                    width="200px"
                    scrolling="no"
                    frameborder="0"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="click-particles" transition:persist></div>

    <Scripts></Scripts>
  </body>
</html>
