---
import Lanyard from "../components/lanyard.tsx";
import Particles from "../components/particles.astro";
import { ViewTransitions } from "astro:transitions";
import Title from "../components/title";
import { Icon } from "@iconify-icon/solid";

import { lanyardata } from "../data";
import { useStore } from "@nanostores/solid";
import Skillls from "../components/skills.tsx";
import Cat from "../components/cat";
import Scripts from "../components/scripts.astro";
import Sidel from "../components/sidel.astro";
import Songoweek from "../components/songoweek";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="icon" href="/assets/furbycon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giiki´s lair</title>
    <meta property="og:title" content="Giiki´s lair" />
    <meta
      property="og:image"
      content={`https://cdn.discordapp.com/avatars/240269142848962560/${useStore(lanyardata)()?.discord_user?.avatar}`}
    />
    <meta name="theme-color" content="#a6e3a1" />
    <meta name="description" content="My space on internet :)" />
    <meta name="author" content="Giiki_s2" />

    <ViewTransitions />

    <link rel="stylesheet" href="/css/daisy.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/iconmoon.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <link
      rel="stylesheet"
      href="https://housepen.nekoweb.org/ring/onionring.css"
    />
  </head>

  <body class="mocha portrait:overflow-hidden text-text">
    <div transition:persist>
      <div class="bg-[#191a20] bg"></div>
    </div>
    <section class="z-9" transition:persist>
      <Particles transition:persist />
    </section>

    <section
      id="CENTER"
      class="flex justify-center w-screen h-screen items-center !z-20"
    >
      <!--  -->

      <div
        class="flex flex-col justify-center w-full p-4 lg:w-4/6 lg:h-5/6 h-full !z-20"
      >
        <div class="flex flex-col justify-center items-center w-full h-full">
          <buttonhandler class="justify-between w-3/4 flex gap-3">
            {
              ["Main", "Blog"].map((el) => (
                <a
                  href={"/" + (el === "Main" ? "" : "blog")}
                  class="w-1/2 md:w-1/3 xl:w-1/5"
                >
                  <button class="w-full bg-base text-center border border-4 border-b-transparent border-green rounded-lg rounded-b-none p-2 hover:text-white">
                    <i
                      class={
                        "fa-duotone fa-" +
                        (el === "Main" ? "donut" : "envelope")
                      }
                    />{" "}
                    {el}
                  </button>
                </a>
              ))
            }
          </buttonhandler>

          <div
            class="bg-base rounded-2xl p-4 border border-green w-full h-full z-10 flex justify-around gap-2 overflow-hidden"
          >
            <div
              class="w-2/6 border border-green rounded-xl flex-col justify-between content-center text-center overflow-auto"
              id="sidel"
              transition:persist
            >
              <div class="border-b border-green p-2">
                <Icon
                  icon="tabler:brand-discord-filled"
                  client:load
                  inline
                  transition:persist
                /> Presence:
              </div>
              <div
                class="h-full w-full flex flex-col p-2 items-center gap-2 overflow-y-auto"
                style="grid-template-rows: masonry;"
              >
                <Sidel />
              </div>
            </div>

            <div class="w-7/12 shrink-0 flex-col flex justify-center h-full">
              <div class="w-full p-2">
                <Title client:load transition:persist />
              </div>

              <div
                class="w-full flex flex-col overflow-auto h-full text-center p-2 border border-green rounded-lg"
              >
                <slot />
              </div>
              <span
                class="text-sm w-full flex justify-center pt-4"
                transition:persist
              >
                built with ❤️, 😡, Tailwind, SolidJs and Astro. &nbsp; <br />
                <a href="https://gitlab.com/GiikiS2/giikis2">
                  <i class="fa-duotone fa-link"></i> Source.
                </a>
              </span>
            </div>

            <div
              class="w-2/6 text-center border border-green rounded-xl overflow-y-auto"
              id="sider"
              transition:persist
            >
              <div class="border-b border-green p-2">Buttons:</div>
              <div class="p-2 flex flex-wrap flex-col gap-2">
                <div id="Buttons" class="w-full grid grid-cols-1 lg:grid-cols-2 gap-2">
                  {
                    [
                      "house-heart:Me",
                      "kitchen-set:Skills",
                      "heart:Likes",
                      "rectangle-history:Projects",
                    ].map((button) => (
                      <a
                        href={
                          button.split(":")[1] === "Me"
                            ? "/"
                            : "/" + button.split(":")[1].toLowerCase()
                        }
                        class="!no-underline"
                      >
                        <button class="aspect-auto duration-300 transition-all overflow-hidden text-wrap w-full flex flex-col text-center border border-green rounded-lg p-2 lg:p-1 xl:p-2 hover:text-white">
                          <i
                            class={`text-pink fa-duotone fa-${button.split(":")[0]}`}
                          />
                          <p class="overflow-hidden text-wrap text-clip">
                            {button.split(":")[1]}
                          </p>
                        </button>
                      </a>
                    ))
                  }
                </div>

                <!-- <div class="flex flex-col items-center gap-2 p-2" transition:persist>
                  <iframe
                  transition:persist
                    class="rounded"
                    src="https://shroom.ink/guard.html/?site=Giiki's lair&shroom=4"
                    height="250px"
                    width="200px"
                    scrolling="no"
                    frameborder="0"
                  ></iframe>
                </div> -->
                <section class="w-full flex flex-col gap-1"> 
                  Other cool sites:
                  <hr />
                <div class="w-full flex flex-wrap justify-center gap-1">
                  <a href="https://princessmortix.link/">
                    <img src="/assets/badges/mortix.png" width="88" height="31" />
                  </a>
                  <a href="https://cinni.net/">
                    <img
                      src="https://cinni.net/images/cinni_button.2.png"
                      width="88"
                      height="31"
                    />
                  </a><a href="https://arciniega.one">
                    <img
                      src="https://sapphic.moe/buttons/friends/sapphic/image.png"
                      width="88"
                      height="31"
                    />
                  </a>
                  <a href="https://comfort.neocities.org" target="_blank"
                    ><img
                      src="https://64.media.tumblr.com/7e6e9b6d9030a392c9fe248c4994aa4e/9594f64d816b9c9e-94/s100x200/2bb06e351525682bf448afebfac361caffc248ce.gif"
                    /></a
                  >
                  <a href="https://pudo.neocities.org"
                    ><img src="https://pudo.neocities.org/pudoweb%20botao.png" /></a
                  ><a href="https://nonkiru.art/" target="_blank"
                    ><img src="https://nonkiru.art/assets/img/nonkiru_button_light.gif" /></a
                  >
                  <a href="https://arunyi.art" target="blank"
                    ><img src="https://imgur.com/Q8DvLiI.gif" /></a
                  >
                  <!--strawbebby's button 88x31-->
                  <a href="https://strawbebby228.neocities.org/" target="_blank"
                    ><img
                      src="https://strawbebby228.neocities.org/arts/UI/ButtonPink.gif"
                    /></a
                  >

                </div>
              </section>
              <section class="w-full flex flex-col gap-1"> 
                Listing:
                <hr />
              <div class="w-full flex flex-wrap justify-center gap-1">
                <a href="https://smoothsailing.asclaria.org/">
                  <img src="/assets/smoothsailing.png" width="88" height="31" />
                </a> 
                <a href="https://princessmortix.link/">
                  <img src="/assets/linklane.png" width="88" height="31" />
                </a>

              </div>
            </section>
                <!--  -->
                <Songoweek>
            <!--  -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--  -->
    </section>

    <Scripts />
  </body>
</html>
